{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ event.title }}</h2>
                    <h4 class="card-subtitle mb-2 text-muted">Sport: {{ event.sport }}</h4>
                    <p class="card-text text-muted">by {{ event.organizer }} | {{ event.start_date }}</p>
                    <p class="card-text text-muted">Location: {{ event.location }}</p>
                    <p class="card-text">Description: {{ event.description }}</p>
                    <p class="card-text text-muted">Number of Participants: {{ event.n_participants }}</p>
                    <p class="card-text text-muted">Remaining Slots: {{ event.remaining_slots }}</p>
                
                    {% if request.user not in event.registered_users.all %}
                        <a href="{% url 'register_event' event.id %}" class="btn btn-primary bg-dark">Register</a>
                    {% else %}
                        <p class="card-footer text-muted my-1 border-dark">You are already registered in this event.</p>
                        <a href="{% url 'unregister_event' event.id %}" class="btn btn-primary bg-dark">Unregister</a>
                    {% endif %}
                    {% if request.user == event.organizer %}
                        <a href="{% url 'edit_event' event.id %}" class="btn btn-primary bg-dark">Edit</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}